<!DOCTYPE html>
<html>
<head>
    <title>Test Navigation</title>
</head>
<body>
    <h1>Navigation Test Page</h1>
    <ul>
        <li><a href="/">Home (Unlogged)</a></li>
        <li><a href="/home_admin">Home Admin</a></li>
        <li><a href="/home_student">Home Student</a></li>
        <li><a href="/menu_admin">Menu Admin</a></li>
        <li><a href="/menu_student">Menu Student</a></li
        <li><a href="/menu_unlogged">Menu Unlogged</a></li>
        <li><a href="/dashboard_admin">Dashboard Admin</a></li>
        <li><a href="/dashboard_student">Dashboard Student</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/order_student">Order Student</a></li>
        <li><a href="/order_admin">Order Admin</a></li>
        <li><a href="/registration">Registration</a></li>
    </ul>
</body>
</html>
